name: Build and Test App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build . -t ${{ secrets.DOCKER_USER }}/mdo-posts:${{ github.sha }}

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USER }}/mdo-posts:${{ github.sha }}

      - name: Debug secrets
        run: |
          echo "Docker user is set: ${{ secrets.DOCKER_USER != '' }}"
          echo "Docker password is set: ${{ secrets.DOCKER_PASSWORD != '' }}"
